@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">💜 Azure</h1>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>

    <div>
        <h2>Environment used</h2>
        <p>@Model.Message</p>
    </div>


</div>

